* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.todoAppContainer {
  margin-top: 3rem;
  padding: 0.5rem;
  max-width: 600px;
  margin-inline: auto;
  color: #37352f;
}

.form {
  display: flex;
  flex-direction: column;
}
.addBtn {
  margin-top: 1rem;
  width: max-content;
  margin-inline: auto;
}
.disabled {
  margin-top: 1rem;
  width: max-content;
  margin-inline: auto;
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.65;
}
.input {
  padding: 0.5rem;
  font-size: 1.3rem;
  border-radius: 12px;
  outline: none;
  border: none;
  background-color: rgba(22, 156, 245, 0.267);
}
.input:focus {
  outline: 2px solid rgb(4, 21, 252);
}
ul {
  height: 500px;
  border-radius: 12px;
  margin: 1rem 0 0 0;
  overflow: scroll;
  scrollbar-width: thin;
  scrollbar-color: rgba(127, 255, 212, 0.2) rgba(127, 255, 212, 0.1);
  padding: 0.4rem 0px;
}
ul::-webkit-scrollbar {
  width: 6px;
}

ul::-webkit-scrollbar-thumb {
  background-color: rgba(127, 255, 212, 0.2);
  border-radius: 3px;
}

ul::-webkit-scrollbar-thumb:hover {
  background-color: rgba(19, 138, 98, 0.3);
}
li {
  list-style: none;
  padding-bottom: 8px;
}
.listItems {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
label p {
  flex: 1 1;
  margin-left: 3px;
  font-weight: 500;
}
.checkbox {
  height: 20px;
  width: 20px;

  margin-right: 4px;
}
.checkbox:checked + .todoDesc {
  text-decoration: line-through;
  color: #777777;
}
.delBtn,
.delAllBtn {
  padding: 8px;
  font-size: 14px;
  margin-left: 10px;
  height: max-content;
  background-color: rgba(221, 44, 44, 0.774);
}
.delBtn:hover,
.delAllBtn:hover {
  background-color: rgba(250, 17, 17, 0.904);
}
.listTopBar {
  display: flex;
  justify-content: end;
}

main {
  margin-top: 1rem;
  padding: 0.6rem 0.4rem;
  border-radius: 12px;
}
